*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    max-width: 800px;
    background-color: #0f4c5c;
    padding: 20px;
    border-radius: 4px;
    color: white;
}

h1{
    text-align: center;
   
}
form{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

form input, form select, form button{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#btn{
    background-color: #e36414;
    color: white;
    font-size: 18px;
}


table{
    width: 100%;
    margin-bottom: 20px;
}

th, td{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

th{
    padding: 10px;
}

.total-amount{
    text-align: right;
    font-size: 22px;
    color: white;
}

#expense-filter{
    text-align: right;
    margin: 20px 0;
}

.expense-filter label{
    margin-right: 10px;
}

.expense-filter select{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*************************MEDIA QUERIES*************************************/

@media (max-width: 600px) {
  .container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 20px auto;
  }
  form{
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 20px 20px;
    justify-content: center;
    text-align: center;
    
  }

  table{
    width: 100%;
    border-collapse: collapse;
  }

  td, th{
    padding: 8px;
    word-wrap: break-word;
    white-space: normal;
    font-size: 14px;
  }
}

@media (max-width:400px) {
    th, td{
        font-size: 12px;
        padding: 4px;
        border: 1px solid;
    }
}

